pip~=21.1.2
wheel~=0.36.2
tornado~=6.1
mypy~=0.931
tomli~=2.0.1
toml~=0.10.2
isort~=5.10.1
setuptools~=57.0.0
pylint~=2.12.2
astroid~=2.9.3
mccabe~=0.6.1
platformdirs~=2.5.1
wrapt~=1.13.3
ipywidgets
matplotlib
