html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

main {
    text-align: center;
    padding: 0;
    max-width: 240px;
    margin: 0 auto;
    height: 100%;
}

@media (min-width: 640px) {
    main {
        max-width: none;
    }
}

.indigo {
    background-color: #8850e2;
    color: white;
}

.container {
    max-width: 100% !important;
    height: 90% !important;
    max-height: 90% !important;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-left {
    border-left: 1px solid #ddd;
}

div.tree {
    padding: 50px 0px 0px 96px;
    position: relative;
    text-align: start;
    line-height: 300%;
}

div.tree:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    border-left: 2px dashed #a2a5b5;
    width: 1px;
    height: 100%;
}

div.tree:after {
    content: "";
    position: absolute;
    border-top: 2px dashed #a2a5b5;
    top: 80px;
    left: 20px;
    width: 60px;
}

div.tree:last-child:before {
    top: 16px;
    height: 63px;
}

.nochild {
    position: relative;
}

.nochild:after {
    content: "";
    position: absolute;
    border-top: 2px dashed #a2a5b5;
    top: 31px;
    left: 210px;
    width: 50px;
}

span.info-name {
    background-color: #ececece1;
    border-radius: 3px;
    border: none;
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: 5px 5px 3px -6px #000000;
    box-shadow: 5px 5px 3px -6px #000000;
    width: 200px;
    display: inline-block;
    text-align: center;
}

span.addtask {
    content: "";
    position: absolute;
    left: 270px;
    top: 8px;
}